<header class="header-area header-sticky">     
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#men">Men's</a></li>
                        <li class="scroll-to-section"><a href="#women">Women's</a></li>
                        <li class="scroll-to-section"><a href="#kids">Kid's</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="single-product.html">Single Product</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Features</a>
                            <ul>
                                <li><a href="#">Features Page 1</a></li>
                                <li><a href="#">Features Page 2</a></li>
                                <li><a href="#">Features Page 3</a></li>
                                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#explore"  >Explore</a></li>

                        <li class="scroll-to-section" *ngIf="!userSignINFlag"><a (click)="openLoginPopUP()" >Login</a></li>

                        <li class="submenu"*ngIf="userSignINFlag" >
                            <a href="javascript:;">User</a>
                            <ul>
                                <li><a href="#" (click)="myAccount()">My Account</a></li>
                                <li><a href="#" (click)="myProfile()">My Profile</a></li>
                                <li><a href="#" (click)="userSignOut()">Log out</a></li>
                          
                            </ul>
                        </li>
                    </ul>
                   
                    <a class='menu-trigger'>
                            <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>

    <p-dialog  [closable]="false" [(visible)]="openloginPOPUP" [modal]="true">
    <div class="d-flex justify-content-center align-items-center mt-5">

        <div class="card">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"  [style]="{'margin': '0%'}">
                <li class="nav-item text-center">
                  <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login</a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Signup</a>
                </li>
               
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  
                  <div class="form px-4 pt-5">

                    <input type="text" name="" class="form-control" placeholder="Email or Phone">
                    <input type="text" name="" class="form-control" placeholder="Password">
                    <button class="btn btn-dark btn-block" (click)="userSignIN()">Login</button>
                    <button class="btn btn-secondary btn-block"
                    (click)="openloginPOPUP=false" label="Cancel" >Cancel</button>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="form px-4">

                    <input type="text" name="" class="form-control" placeholder="Name">

                    <input type="text" name="" class="form-control" placeholder="Email">

                    <input type="text" name="" class="form-control" placeholder="Phone">

                    <input type="text" name="" class="form-control" placeholder="Password">

                    <button class="btn btn-dark btn-block">Signup</button>
                    <button class="btn btn-secondary btn-block" (click)="openloginPOPUP=false"  [style]="{'margin-block': '2%' }" >Cancel</button>
                  </div>
                  
                </div>
                
               </div>
        </div>

      </div>
     
</p-dialog>
</header>


