<header class="header-area header-sticky">     
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#men">Men's</a></li>
                        <li class="scroll-to-section"><a href="#women">Women's</a></li>
                        <li class="scroll-to-section"><a href="#kids">Kid's</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="single-product.html">Single Product</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Features</a>
                            <ul>
                                <li><a href="#">Features Page 1</a></li>
                                <li><a href="#">Features Page 2</a></li>
                                <li><a href="#">Features Page 3</a></li>
                                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#explore"  >Explore</a></li>

                        <li class="scroll-to-section" *ngIf="!userSignINFlag"><a (click)="openLoginPopUP()" >Login</a></li>

                        <li class="submenu"*ngIf="userSignINFlag" >
                            <a href="javascript:;">User</a>
                            <ul>
                                <li><a href="#" (click)="myAccount()">My Account</a></li>
                                <li><a href="#" (click)="myProfile()">My Profile</a></li>
                                <li><a href="#" (click)="userSignOut()">Log out</a></li>
                          
                            </ul>
                        </li>
                    </ul>
                   
                    <a class='menu-trigger'>
                            <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>

    <p-dialog 
    [(visible)]="openloginPOPUP" [modal]="true"
    [style]="{'width': '55%', 'padding':'5%' ,'heigt':'50%' ,'margin':'1%'}">

    <div class="login-box">
        <div class="login-snip">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-space">
                <div class="login">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input"  placeholder="Enter your username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit"  (click)="userSignIN()"class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <p-button icon="pi pi-check"
                           (click)="openloginPOPUP=false" label="Cancel"
                      class="p-button-text">
                   </p-button>
                </div>
                <div class="sign-up-form">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" placeholder="Create your Username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" placeholder="Create your password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password" placeholder="Repeat your password" >
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="pass" type="text" class="input" placeholder="Enter your email address">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    <!-- <div class="hr"></div> -->
                <div>
                        <label for="tab-1">Already Member?</label> 
                        
                </div>
                <p-button icon="pi pi-check"
                           (click)="openloginPOPUP=false" label="Cancel"
                      class="p-button-text">
                   </p-button>
                    </div>
                </div>
            </div>
            
        </div>

</p-dialog>
</header>


