
<app-header-area (accountFlag)="dataComingFromHeaderAccountClick($event)"></app-header-area>


<div *ngIf="pageSectionView">
<!-- ***** Main Banner Area Start ***** -->
   <app-top-section></app-top-section>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
   <app-men-section></app-men-section> 
<!-- ***** Men Area Ends ***** -->



    <!-- ***** Women Area Starts ***** -->
   <app-women-section></app-women-section>
    <!-- ***** Women Area Ends ***** -->

    <!-- ***** Kids Area Starts ***** -->
   <app-kids-section></app-kids-section>
    <!-- ***** Kids Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
   <app-explore-section></app-explore-section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
   <app-social-media-section></app-social-media-section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
  <app-subscribe-section></app-subscribe-section>
    <!-- ***** Subscribe Area Ends ***** -->

</div>

<div *ngIf="accountSectionShow">
    <app-my-account>
    </app-my-account>
</div> 
<router-outlet></router-outlet>
<app-footer-section></app-footer-section>



