


<!-- ***** Header Area Start ***** -->
<app-header-area></app-header-area>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
   <app-top-section></app-top-section>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
   <app-men-section></app-men-section> 
<!-- ***** Men Area Ends ***** -->



    <!-- ***** Women Area Starts ***** -->
   <app-women-section></app-women-section>
    <!-- ***** Women Area Ends ***** -->

    <!-- ***** Kids Area Starts ***** -->
   <app-kids-section></app-kids-section>
    <!-- ***** Kids Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
   <app-explore-section></app-explore-section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
   <app-social-media-section></app-social-media-section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
  <app-subscribe-section></app-subscribe-section>
    <!-- ***** Subscribe Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
   


    <!-- ***** Footer Start ***** -->
    <p-dialog header="About GeeksforGeeks" 
     [modal]="true" 
    [draggable]="true" [resizable]="true">
      
    <p class="p-m-0">
        A Computer Science portal for geeks. 
        It contains well written, well thought
        and well-explained computer science 
        and programming articles. With the idea
        of imparting programming knowledge, 
        Mr. Sandeep Jain, an IIT Roorkee alumnus
        started a dream, GeeksforGeeks. Whether 
        programming excites you or you feel
        stifled, wondering how to prepare for 
        interview questions or how to ace data
        structures and algorithms, GeeksforGeeks 
        is a one-stop solution.
    </p>
  
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" 
             label="OK" 
            class="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>
    <app-log-in-section></app-log-in-section>
<app-footer-section></app-footer-section>

<router-outlet></router-outlet>

