<div class="AddressDiv" *ngIf="accountSection" >
<h5>Your Account</h5>
<div class="container py-4">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none" (click)="handleMyOrdersClick()" href="#">
                    <h4 class="card-title">Your Order</h4>
                    <p class="card-text">Track, return, or buy things again.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </a>
            </div>
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none" (click)="handleLoginSecurityClick()" href="#">
                    <h4 class="card-title">Login & Security</h4>
                    <p class="card-text">Edit Login, name, mobile and number.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </a>
            </div>
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none"  (click)="addressClick()" href="#">
                    <h4 class="card-title">Your Address</h4>
                    <p class="card-text">Edit address for order and gifts.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container py-4">

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none"  (click)="handlepaymentOptionsClick()" href="#">
                    <h4 class="card-title">Payment Options</h4>
                    <p class="card-text">Edit or add payment.</p>
               
                </a>
            </div>
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none"  (click)="addressClick()" href="#">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </a>
            </div>
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none"  (click)="addressClick()" href="#">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="AddressDiv" *ngIf="showaddress">
<app-address></app-address>
</div>

<div class="AddressDiv" *ngIf="myOrders">
  <app-my-orders></app-my-orders>
</div>

    <div class="AddressDiv" *ngIf="loginSeciurity">
        <app-login-security></app-login-security>
    </div>

    <div class="AddressDiv" *ngIf="paymentOptions">
       <app-payment-options></app-payment-options>
    </div>