<h5> Account > Address</h5>
<div class="container py-4">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card p-2">
                <a class="card-block stretched-link text-decoration-none" href>
                    <h4 class="card-title">Add Address</h4>
                </a>
            </div>
            <div class="card p-2">
                
                    <h4 class="card-title">{{fullName}}</h4>
                    <p class="card-text">{{flatOrHouseNo}}</p>
                    <p class="card-text">{{Area}} {{landMark}}</p>
                    <p class="card-text">{{TownCity }} {{state}} {{pinCode}}</p>
                    <p class="card-text">Phone number {{flatOrHouseNo}}</p>
                    
             <br>
             <br>
             <div>
             <a class="card-block stretched-link text-decoration-none" href="/">Edit </a> |
            <a class="card-block stretched-link text-decoration-none" href="/">Remove </a>  |
            <a class="card-block stretched-link text-decoration-none" href="/">set as Default </a> 
        </div>  
            </div>
            
           
        </div>
    </div>
</div>